{% extends "base.html" %}
{% block content %}
<h1>View All Tasks</h1>
<!-- Table -->
<table border="2">
  <!-- Table - Header -->
  <tr>
    <th width="15%">Task</th>
    <th>Description</th>
    <th width="20%">Status</th>
  </tr>
  <!-- Table - content -->
  {% for p in querytasks %}
  <tr>
    <td>
      <div class="Taskname">
        {{ p.name }}
      </div>
    </td>
    <td>
      <div class="Description">
        {{ p.details }}
      </div>
    </td>
    <td>
      <div class="State">
        {% if p.complete == True %}
          Complete &#10004;
        {% else %}
          Uncomplete &#10007;
        {% endif %}
      </div>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
