<!-- views/pages/account/logout.ejs -->

<% let title = "Logged Out" %>

<%- include(globals.inc + globals.head) %>



<div id="content">
	<div class="row">
		<div class="text-center">
			<h3>You are logged out</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean iaculis nulla non eleifend ornare.  Aliquam erat volutpat. Vivamus eget sollicitudin purus, at cursus ligula. Curabitur eros augue, ultrices vel lorem in, iaculis malesuada eros. Nunc risus ex, ullamcorper id dui et, pretium accumsan lacus. Vestibulum vulputate ultrices purus commodo volutpat. Curabitur accumsan at lorem sed consequat. Sed ullamcorper sapien quis faucibus scelerisque. Maecenas tristique varius egestas. Quisque ullamcorper ex felis, laoreet gravida eros scelerisque eu. Mauris pellentesque eu tortor ultricies condimentum. Nulla pretium ipsum eget luctus sollicitudin. Donec auctor cursus orci ullamcorper aliquet. Suspendisse a tincidunt dolor, ac dapibus arcu. Aliquam in dui ac lacus commodo facilisis. Morbi sed posuere libero.</p>
		</div>
	</div>
</div>


<%- include(globals.inc + globals.footer) %>
