<!-- views/partials/title.ejs -->

<div class="title-bar-wrapper">
	<div class="title-bar-container">
		<div class="page-head-title text-center">
      <h1 class="article-title"><%=page.title%></h1> 
			<% if (globals.subtitle){%>
			<span class="article-title-sub"><%=subtitle %></span>
			<% } %>
		</div>
	</div>
</div>

<main class="content-wrapper">
<div class="content-container container">
